@import url('/src/styles/main.css');

li {
    list-style: none;
}

a,
img,
span,
input,
button {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

sub {
    vertical-align: baseline;
}

sup {
    vertical-align: top;
}

sub,
sup {
    font-size: 0.75em;
}

html {
    font-family: var(--font-1);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-size: var(--body-3);
    overflow: hidden;
}

:focus-visible {
    outline: 2px solid var(--color-white);
    outline-offset: 2px;
}

::selection {
    background-color: var(--color-white-alpha-8);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-white-alpha-8);
    border-radius: var(--radius-pill);
}

.container {
    max-width: 1600px;
    width: 100%;
    margin-inline: auto;
    padding: 16px;
}

.icon-btn {
    background-color: var(--color-white-alpha-8);
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
    border-radius: var(--radius-circle);
}

.has-state {
    position: relative;
}

.has-state:hover {
    box-shadow: var(--shadow-1);
}

.has-state:is(:focus, :focus-visible) {
    box-shadow: none;
}

.has-state::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    clip-path: circle(100% at 50% 50%);
    transition: var(--transition-100ms);
}

.has-state:hover::before {
    background-color: var(--color-white-alpha-4);
}

.has-state:is(:focus, :focus-visible)::before {
    background-color: var(--color-white-alpha-8);
    animation: ripple 250ms ease forwards;
}

@keyframes ripple {
    0% {
        clip-path: circle(0% at 50% 50%);
    }

    100% {
        clip-path: circle(100% at 50% 50%);
    }
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    height: 48px;
    line-height: 48px;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-inline: 16px;
    border-radius: var(--radius-pill);
}

.btn-primary .span {
    font-weight: var(--weight-semiBold);
}

.btn-primary[disabled] {
    background-color: var(--color-outline);
    color: var(--color-on-surface-variant);
    cursor: not-allowed;
}

.btn-primary[disabled]::before {
    display: none;
}

.card {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
}

.card-lg {
    border-radius: var(--radius-28);
    padding: 20px;
}

.card-sm {
    border-radius: var(--radius-16);
    padding: 16px;
}

.heading {
    color: var(--color-white);
    font-size: var(--heading);
    line-height: 1.1;
}

.title-1 {
    font-size: var(--title-1);
}

.title-2 {
    font-size: var(--title-2);
    margin-block-end: 12px;
}

.title-3 {
    font-size: var(--title-3);
    font-weight: var(--weight-semiBold);
}

.body-1 {
    font-size: var(--body-1);
}

.body-2 {
    font-size: var(--body-2);
    font-weight: var(--weight-semiBold);
}

.body-3 {
    font-size: var(--body-3);
}

.label-1 {
    font-size: var(--label-1);
}

.label-2 {
    font-size: var(--label-2);
}









.search-view,
.header .btn-primary .span {
    display: none;
}

.logo img {
    width: 150px;
}

.header .container,
.header-actions {
    display: flex;
    align-items: center;
}

.header .container {
    justify-content: space-between;
}

.header-actions {
    gap: 16px;
}

.header .btn-primary {
    padding-inline: 12px;
}

.search-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    clip-path: circle(4% at calc(100% - 102px) 5%);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    transition: clip-path 500ms ease;
}

.search-view.active {
    /* BELOW -> FIX for line 234: display: none ==> override */
    display: block;
    opacity: 1;
    visibility: visible;
    clip-path: circle(130% at 73% 5%);
}

.search-wrapper {
    position: relative;
    border-block-end: 1px solid var(--color-outline);
}

.search-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    width: 24px;
    height: 24px;
    border: 3px solid var(--color-on-surface);
    border-block-start-color: transparent;
    border-radius: var(--radius-circle);
    animation: loading 500ms linear infinite;
    display: none;
}

@keyframes loading {
    0% {
        transform: translateY(-50%) rotate(0);
    }

    100% {
        transform: translateY(-50%) rotate(1turn);
    }
}

.search-wrapper:has(.searching)::before {
    display: block;
}

.search-field {
    height: 80px;
    line-height: 80px;
    padding-inline: 56px 16px;
    outline: none;
}

.search-field::placeholder {
    color: var(--color-on-surface-variant-2);
}

.search-field::-webkit-search-cancel-button {
    display: none;
}

.search-wrapper .leading-icon {
    position: absolute;
    top: 50%;
    left: 28px;
    transform: translate(-50%, -50%);
}

.search-wrapper>.m-icon {
    display: none;
}

.search-wrapper .icon-btn {
    background-color: transparent;
    box-shadow: none;
}

.search-view .view-list {
    padding-block: 8px 16px;
    /* box-shadow: rgba(5, 5, 5, 0.15) 2.5px 2.5px 2.6px; */
    filter: drop-shadow(var(--shadow-1));
}

.search-view .view-item {
    position: relative;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding-inline: 16px 24px;
}

.search-view .view-item :is(.m-icon, .item-subtitle) {
    color: var(--color-on-surface-variant);
}

.search-view .view-item .item-link {
    position: absolute;
    inset: 0;
    box-shadow: none;
}


.h-forecast-title,
#h-forecast-btn {
    font-size: 1.2rem;
}

.h-forecast-title {
    color: var(--color-on-surface-variant-2);
    font-size: 2.5rem;
}

#h-forecast-btn {
    width: fit-content;
    padding: 4px 1rem;
    border-radius: var(--radius-pill);
    background-color: rgba(119, 119, 119, 0.315);
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#h-forecast-btn:hover {
    cursor: pointer;
    background-color: rgba(119, 119, 119, 0.582);
    color: #fff;
    box-shadow: inset 300px 0 0 0 #54b3d6;
}

.header-actions a.btn-primary,
.header-actions button.icon-btn {
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.header-actions a.btn-primary:hover,
.header-actions button.icon-btn:hover {
    cursor: pointer;
    color: #fff;
    box-shadow: inset 200px 0 0 0 #54b3d6;
}

main {
    height: calc(100vh - 80px);
    height: calc(100svh - 80px);
    overflow: hidden;
    padding-bottom: 30px;
    /* to compensate for the nav bar */
}

article.container {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;
    height: 100%;
    overflow-y: auto;
    overflow-y: overlay;
}

#hourly-render::-webkit-scrollbar {
    width: 16px;
}

article.container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

article.container:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    background-color: var(--color-white-alpha-8);
}

article.container::-webkit-scrollbar-button {
    height: 10px;
}

#hourly-render::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

article.container::before {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: var(--gradient-1);
    pointer-events: none;
    z-index: 1;
}

.section:not(:last-child) {
    margin-block-end: 16px;
}

.current-weather-card .weapper {
    margin-block: 12px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

/* .current-weather-card .weather-icon {
    margin-inline: auto;
} */

.current-weather-card>.body-3 {
    text-transform: capitalize;
}

.current-weather-card .meta-list {
    margin-block-start: 16px;
    padding-block-start: 16px;
    border-block-start: 1px solid var(--color-outline);
}

.current-weather-card .meta-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.current-weather-card .meta-item:not(:last-child) {
    margin-block-end: 12px;
}

.current-weather-card .meta-item:last-child p {
    width: 80%;
    /* to fit long addresses */
}

.current-weather-card .meta-text {
    color: var(--color-on-surface-variant-2);
}





.forecast-card .title-2 {
    margin-block-end: 0;
}

.forecast-card :is(.card-item, .icon-wrapper) {
    display: flex;
    align-items: center;
}

.forecast-card .card-item:not(:last-child) {
    margin-block-end: 12px;
}

.forecast-card .icon-wrapper {
    gap: 4px;
}

.forecast-card .label-1 {
    color: var(--color-on-surface-variant);
    font-weight: var(--weight-semiBold);
}

.forecast-card .card-item>.label-1 {
    width: 100%;
    text-align: right;
}

#forecast-label {
    text-align: center;
}

.highlights .m-icon {
    font-size: 3.2rem;
}

.highlight-list {
    display: grid;
    gap: 20px;
}

.highlight-list .title-3 {
    color: var(--color-on-surface-variant);
    margin-block-end: 20px;
}

.highlights .card-sm {
    /* background-color: var(--color-black-alpha-10); */
    background-color: var(--color-background);
    position: relative;
}

.highlight-card :is(.wrapper, .card-list, .card-item) {
    display: flex;
    align-items: center;
}

.highlight-card .wrapper {
    justify-content: space-between;
    gap: 16px;
}

.highlight-card .card-list {
    flex-wrap: wrap;
    flex-grow: 1;
    row-gap: 8px;
    justify-content: space-around;
}

.highlight-card .card-item {
    width: 50%;
    justify-content: flex-end;
    gap: 4px;
}

.card.card-sm.highlight-card.two .card-item {
    width: fit-content;
    gap: 4px;
}

.highlight-card .label-1 {
    color: var(--color-on-surface-variant);
}

.card.card-sm.highlight-card.two {
    height: fit-content;
}

#last-updated,
#last-updated-hourly {
    z-index: 90;
    position: absolute;
    top: 0px;
    font-size: 1.2rem;
}

#last-updated-hourly {
    left: 40px;
}

.content-middle {
    margin-top: 20px;
}

.badge {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 5px 30px;
    border-radius: var(--radius-pill);
    font-weight: var(--weight-semiBold);
    cursor: help;
}

#aqi-link {
    width: fit-content;
    padding: 2px 1.2rem;
    font-size: 14px;
    border-radius: var(--radius-pill);
    background-color: rgba(119, 119, 119, 0.315);
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#aqi-link:hover {
    cursor: pointer;
    background-color: rgba(119, 119, 119, 0.582);
    cursor: pointer;
    color: #fff;
    box-shadow: inset 200px 0 0 0 #54b3d6;
}

.badge.aqi-1 {
    background-color: var(--color-bg-aqi-1);
    color: var(--color-on-bg-aqi-1);
}

.badge.aqi-2 {
    background-color: var(--color-bg-aqi-2);
    color: var(--color-on-bg-aqi-2);
}

.badge.aqi-3 {
    background-color: var(--color-bg-aqi-3);
    color: var(--color-on-bg-aqi-3);
}

.badge.aqi-4 {
    background-color: var(--color-bg-aqi-4);
    color: var(--color-on-bg-aqi-4);
}

.badge.aqi-5 {
    background-color: var(--color-bg-aqi-5);
    color: var(--color-on-bg-aqi-5);
}

.highlight-card.two .card-item {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.highlight-card.two .label-1 {
    margin-block-end: 4px;
}







.slider-container {
    overflow-x: auto;
    padding-bottom: 10px;
    margin-inline: -16px;
}

.slider-container::-webkit-scrollbar {
    cursor: grab;
    height: 16px;
    background-color: var(--color-surface);
}

.slider-list {
    display: flex;
    gap: 12px;
}

.slider-list:first-child {
    margin-block-end: 16px;
}

.slider-list::before,
.slider-list::after {
    content: "";
    min-width: 4px;
}

.slider-item {
    min-width: 110px;
    flex: 1 1 100%;
}

.slider-card {
    text-align: center;
}

.slider-item .weather-icon {
    margin-inline: auto;
    margin-block: 12px;
}

.grabbing {
    cursor: grabbing;
}

#h-info {
    width: fit-content;
    margin: 16px 0 0 6px;
    padding: 6px 2rem;
    border-radius: var(--radius-pill);
    background-color: rgba(119, 119, 119, 0.315);
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#h-info:hover {
    cursor: pointer;
    background-color: rgba(119, 119, 119, 0.582);
    color: #fff;
    box-shadow: inset 300px 0 0 0 #54b3d6;
}

#h2s {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#h2s h2 {
    height: fit-content;
    margin: 10px 5px;
    padding: 2px 16px;
}

#h2s h2:nth-of-type(2) {
    font-weight: 100;
}





.footer,
.footer .body-3:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer {
    color: var(--color-on-surface-variant);
    text-align: center;
    gap: 12px 24px;
    margin-block-start: 28px;
    /* display: none; */
}

.fade-in .footer {
    display: flex;
}

.footer .body-3:last-child {
    gap: 6px;
}





/* Dynamic styling from JS
    GRID for the Dashboard
    document.querySelector('article.container').style.display = 'grid';
    BLOCK for the Hourly list
    document.querySelector('article.container').style.display = 'block';
*/

.blurred {
    border-radius: 10px;
    margin-top: 20px;
}

.hour-section {
    width: 100%;
    text-align: center;
    border-spacing: 0;
}

.hour-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* background-color: var(--color-surface); */
    background-color: rgba(255, 255, 255, 0.2);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.hour-row:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* transform: translateY(-3px); */
}

.hour-section .hour-row td:nth-of-type(1) {
    grid-column: 1 / 3;
    background-color: var(--color-on-surface-variant);
    color: black;
    font-weight: 900;
}

tr td:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.hour-section .label {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
}

.info-group div:nth-of-type(2) {
    font-size: 1.5rem;
}

tr td:nth-of-type(11) .info-group div:nth-of-type(2) {
    font-size: 1rem;
}

.hour-row {
    margin-bottom: 10px;
}

/* .hour-row:nth-of-type(1):hover {
    margin-top: 3px;
} */

.hour-row:nth-child(2n + 1) td {
    background-color: var(--color-background);
}

.hour-row:nth-child(2n) td {
    /* stays separate in case of design change */
    background-color: var(--color-background);
}

.hour-row:nth-child(2n + 1) td:nth-child(2) {
    display: flex;
    justify-content: center;
}

.hour-row td {
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* border: 1px solid var(--color-on-surface-variant); */
    margin: 5px;
}


.hour-row,
.hour-row td {
    border-radius: 10px;
}

.current-weather .meta-list .meta-item:nth-of-type(2) .meta-text {
    position: relative;
}

.current-weather .meta-list .meta-item:nth-of-type(2) .meta-text span.tooltip-text {
    position: absolute;
    z-index: 2;
    visibility: hidden;
    width: 220px;
    background-color: var(--color-surface);
    color: var(--title-1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    bottom: 125%;
    left: 20%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.current-weather .meta-list .meta-item:nth-of-type(2) .meta-text span.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.current-weather .meta-list .meta-item:nth-of-type(2) .meta-text:hover span.tooltip-text {
    visibility: visible;
    opacity: 1;
}




/* CELSIUS / FAHRENHEIT TOGGLE */
#deg-toggle-ctr {
    margin: 0px 0px 5px 0px;
    border-radius: 25px;
}


#toggler {
    /* background-color: rgba(0, 193, 255, 1); */
    background-color: var(--color-surface);
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    height: 50px;
    border-radius: 25px;
}

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
}

input[type="checkbox"].toggle+label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

input[type="checkbox"].toggle+label::before {
    /* lane */
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Celsius';
    color: white;
    width: 9em;
    height: 2em;
    /* background-color: rgba(0, 191, 255, 0.5); */
    background-color: var(--color-background);
    border: 1px solid var(--color-on-surface-variant);
    /* border: 2px solid white; */
    /* border: 2px solid var(--color-on-surface-variant-2); */
    border-radius: 4em;
    transition: 300ms ease-in-out;
}

input[type="checkbox"].toggle+label::after {
    /* left dc + ball */
    position: absolute;
    left: 0em;
    content: '';
    width: 3em;
    height: 3em;
    background-color: var(--color-background);
    border: 1px solid var(--color-on-surface-variant);
    border-radius: 50%;
    transition: 300ms ease-in-out;
}

input[type="checkbox"].toggle:checked+label::before {
    background-color: var(--color-on-surface-variant-2);
    content: 'Fahrenheit';
    font-weight: bolder;
    padding-right: 20px;
    color: black;
    /* border: 2px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 5px -2px 6px 0px inset;
    border: none;
}

input[type="checkbox"].toggle:checked+label::after {
    /* right dc*/
    transform: translateX(7.3em);
    background-color: var(--color-on-surface-variant-2);
    /* border: 2px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 5px -2px 6px 0px inset;
    border: none;
}