@import url('/src/styles/variables.css');
@import url('/src/styles/home.css');
@import url('/src/styles/nav.css');
@import url('/src/styles/dashboard.css');
@import url('/src/styles/loading.css');
@import url('/src/styles/util.css');
@import url('/src/styles/error.css');
@import url('/src/styles/aqi.css');
@import url('/src/styles/media-queries.css');
@import url('/src/styles/about.css');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    padding-top: 3rem;
    height: calc(300vh - 3rem);
}

#main-ctr {
    height: 100%;
}

.hidden-el {
    display: none;
}

sup {
    line-height: 1.5;
}