* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238,238,238);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-layout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 800px;
    height: 1600px;
    margin: auto;
    gap: 20px;
}

h2 {
    width: 800px;
    margin: 20px auto;
    display: block;
}

.card {
    background-color: white;
    width: 250px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card h3,
.card p {
    margin: 5px 20px;
}

.card p {
    padding-bottom: 10px;
}

.card footer {
    margin: 10px 10px;
    padding: 20px 10px 10px 10px;
    border-top: 1px solid gray;
}

.flex {
    justify-content: stretch;
}

.flex .card {
    height: calc(1560px / 3);
}

.flex .card img {
    max-height: 50%;
}