@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-1 {
    height: 50vh;
    background: linear-gradient(to right, #094d7d, #07d9c0);
    position: relative;
}

.container-2 {
    height: 50vh;
    background: linear-gradient(to right, #76249c, #c25913);
    position: relative;
}

.sub-container-1,
.sub-container-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease 0.2s;
}

.sub-container-1:hover,
.sub-container-2:hover {
    scale: 1.03;
}

.image-2,
.image-1 {
    max-height: 50vh;
    max-width: 270px;
    z-index: 1;
    display: block;
}

.fa-solid {
    color: white;
    z-index: 2;
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 40px 15px rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    z-index: 1;
}

.shadow:hover {
    box-shadow: inset 0px 0px 40px 15px rgba(0, 0, 0, 0.9);
}