:root {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: Georgia, serif;
}

header {
    flex: 1 0 100%;
    border-bottom: 3px solid black;
}

header h1 {
    text-transform: uppercase;
    font-family: sans-serif;
}

blockquote {
    font-family: Georgia, serif;
}

a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

div.page {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 50px;
}

body {
    background-color: rgb(238,238,238);
}

img {
    max-width: 200px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(255,255,255);
    margin: 10px;
}

.page-main {
    flex: 1 1 60%;
    padding-right: 30px;
}

aside {
    flex: 1 1 20%;
    margin-left: 50px;
}

.sec-1,
.sec-2,
.sec-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sec-1 img,
.sec-3 img {
    flex: 1 0 20%;
}

.sec-1 p.img-p-1,
.sec-1 p.img-p-2,
.sec-3 p.img3 {
    flex: 1 0 50%;
}

.sec-1 h1,
.sec-2 h1,
.sec-3 h1 {
    flex: 1 0 100%;
    margin-bottom: 0px;
}

.sec-2 .p1,
.sec-2 .p4 {
    flex: 1 0 100%;
}

.sec-2 .p2 {
    flex: 1 0 40%;
    padding-right: 20px;
}

.sec-2 .div-block {
    flex: 1 0 50%;
    border-left: 3px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.div-block blockquote {
    margin: 30px 30px 0px 30px;
    font-style: italic;
    color: rgb(136, 135, 135);
}

.div-block span {
    color: rgb(136, 135, 135);
    margin-right: 30px;
}
