* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    position: relative;
    background-color: rgb(238,238,238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

header,
main,
footer {
    flex: 1 0 100%;
}

header {
    border-bottom: 3px solid gray;
    padding: 20px;
    height: fit-content;
    text-transform: uppercase;
}

footer {
    position: fixed;
    /* position: sticky; */
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
    width: 100%;
    bottom: 0px;
    background-color: rgb(102,102,102);
    color: rgb(255,255,255);
    z-index: 1000;
}

main {
    padding: 30px;
    height: fit-content;
}

main p {
    margin: 30px;
}