:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
}

body {
    display: flex;
    justify-content: center;
    margin: 10%;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    gap: 5vw;
}

