<article class="intro-right-side-content">
    <img src="/images/technology.png" alt="{{headline}}">
    <h5>
        {{headline}}
        <span>Candidates: {{applicants.length}}</span>
    </h5>
</article>