@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

.login-form {
    margin-top: 10%;
    background-color: rgb(238,238,238);
    width: 450px;
    height: 300px;
    position: relative;
    border: 2px solid darkgray;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.login-form form {
    margin: 80px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 40px);
    grid-template-areas: 
    "p1 user user user"
    "p2 pass pass pass"
    "submit . . .";
    column-gap: 10px;
    row-gap: 20px;
}

p {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.p1 {
    grid-area: p1;
}

.p2 {
    grid-area: p2;
}

.user {
    grid-area: user;
}

.pass {
    grid-area: pass;
}

.submit {
    grid-area: submit;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.submit:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.75);
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.fill {
    background-color: aqua;
    position: relative;
}

.fill input {
    width: 100%;
    height: 100%;
}

.fill input:focus {
    background-color: wheat;
    padding-left: 30px;
}


.fill i {
    position: absolute;
    top: 12px;
    left: 10px;
}

.title {
    position: absolute;
    top: -20px;
    height: 40px;
    width: 150px;
    background-color: rgb(247, 244, 244);
    border: 2px solid darkgray;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.title h2 {
    margin-left: 20px;
    font-size: 18px;
}

fieldset,
legend {
    border: transparent;
    background-color: transparent;
    width: 0px;
    height: 0px;
}

@media (max-width: 800px) {
    .login-form form {
        margin: 40px 20px 20px 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 20px);
        grid-template-areas: 
        "p1 p1 p1 p1"
        "user user user user"
        "user user user user"
        "p2 p2 p2 p2"
        "pass pass pass pass"
        "pass pass pass pass"
        "submit . . ."
        "submit . . .";
        row-gap: 10px;
    }
    .p1,
    .p2 {
        padding: 10px 5px 5px 5px;
        text-align: left;    
    }
    .fill input {
        height: 90%;
        border: 1px solid darkgray;
        border-radius: 5px;
    }
    .fill {
        background-color: transparent;
    }

}