<form action="/cats/add-breed" method="POST" class="cat-form">
    <h2>Add Cat Breed</h2>
    <label for="breed-name">Breed Name</label>
    <input name="breed" type="text" id="breed-name">
    <button type="submit">Add Breed</button>
</form>

<div class="cat-form">
    <h2>Breeds in database</h2>
    <select>
        <option value="" selected disabled hidden>See breeds here</option>
        {{breeds}}
    </select>
</div>