@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);

* {
    padding: 0;
    margin: 0;
}
div.viewport {
    position: relative;
    height: 50vh;
}

div.viewport:nth-child(1) {
    background: linear-gradient(to right, #2f77eb, #2feba6);
}

div.viewport:nth-child(2) {
    background: linear-gradient(to right, #661a5d, #d4680b);
}

div.viewport section.card {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.card img {
    height: auto;
    width: 250px;
}
section.card i {
    position: relative;
    right: 30px;
    bottom: 10px;
    color: white;
}




