<main class="dashboard">
    <section id="dashboard">
        <h2>Animals in Need</h2>
        {{#if animals}}
        <ul class="card-wrapper">
            {{#each animals}}
            {{>'dashboard/dashboardCard'}}
            {{/each}}
        </ul>
        {{else}}
        {{>'dashboard/noDashCards'}}
        {{/if}}
    </section>
</main>