<form class="search" method="GET">
    <input type="search" name="search" value="{{search}}" placeholder="Search email...">
    <button type="submit" class="btn-search">
        <img src="/images/search-icon.png" alt="search-icon">
        Search
    </button>
</form>

{{#if results}}
<section id="search-page">
    <h2>Search result:</h2>
    {{#each results}}
    <article class="search-page-result">
        <p class="search-page-result-headline">Headline: {{headline}}</p>
        <p class="search-page-result-companyName">Company Name: {{companyName}}</p>
    </article>
    {{/each}}
</section>
{{/if}}

{{#unless results}}
<section id="search-page">
    <h2>Search result:</h2>
    <article class="search-page-no-result">
        <p class="search-page-no-result-message">No match found.</p>
    </article>
</section>
{{/unless}}