<!-- <div id="app-ctr">
  <button (click)="handleClick()" id="pull-data">Get DATA</button>
  <div id="ctr">
    <div id="left"></div>
    <div id="right">
      <p *ngFor="let piece of jsonData">{{piece.id}}</p>
    </div>
  </div>
</div> -->

<!-- {{jsonData}} -->

<table>
  <tr *ngFor="let item of dataArray">
    <th>{{item}}</th>
    <th>{{item}}</th>
    <th>{{item}}</th>
    <th>{{item}}</th>
    <th>{{item}}</th>
    <th>{{item}}</th>
    <th>{{item}}</th>
    <th>{{item}}</th>
    <th>{{item}}</th>
    <th>{{item}}</th>
  </tr>
</table>