<button (click)="handleClickEvent($event)">
  <ng-container *ngIf="showLastName">Hide</ng-container>
  <ng-container *ngIf="!showLastName">Show</ng-container>
  last name
</button>

<div *ngIf="showSelectedIndex">
  Selected index is: {{ selectedUserIndex }}
</div>

<ul id="list-ctr">
  <li class="list-item" *ngFor="let user of users; let i = index;">
    <app-list-item [user]="user" [showLastName]="showLastName" staticString="test" (click)="listItemClickHandler(i)">
    </app-list-item>
  </li>
</ul>

<!-- <div id="list-ctr">
  <app-list-item class="list-item" *ngFor="let user of users"></app-list-item>
</div> -->

<ng-container *ngIf="false"></ng-container>
<!-- placeholder, dummy element -->
<ng-template>ANGULAR TEST</ng-template>
<template>TEST</template>